<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<p></p>
<div class="container">
    <div style="text-align:center">
        <div class="bg-light">            
            <article class="card-body mx-auto" style="max-width: 400px;">
			<h2 class="card-title mt-3 text-center">ค้นหาหอพัก</h2>
			<form [formGroup]="myForm" (ngSubmit)="submitForm()">
				<div class="form-group input-group">
					<div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-search"></i> </span>
					</div>
                    <input name="" class="form-control" placeholder="ชื่อหอพัก" type="text">
				</div> <!-- form-group// -->
                
                <div class="form-group input-group">
					<div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-book"></i> </span>
                    </div>
                    <select class="form-control" >
                        <option selected>ช่วงราคา</option>
                        <option>1200-2000</option>
                        <option>2000-3000</option>
                        <option>3000-4000</option>
                        <option>5000-6000</option>
                      </select>
                </div> <!-- form-group// -->
                <div class="form-group input-group">
					<div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <select class="form-control">
                        <option selected>จำนวนผู้พัก</option>
                        <option>1 คน</option>
                        <option>2 คน</option>
                        <option>3 คน</option>
                        <option>4 คน</option>
                        <option>5 คน</option>
                      </select>
                </div> <!-- form-group// -->
                <button type="button" class="btn btn-secondary  btn-lg btn-block">ค้นหา</button>
			</form>
		</article>
        </div>
    </div>
</div>