<p>
<div class="container">
    <div class="row">
        <div class="col">
            <div style="text-align:center">
                <div class="bg-light">
                    <h1>
                        Welcome to {{ proJect }}
                    </h1>
                    <img src="\assets\image\s.jpg" name="aboutme" class="widthimage">
                    <!-- <h3 class="media-heading"> {{ nameEn }} <small></small></h3> -->
                    <h4>
                        <span><strong>ชื่อ: </strong></span>
                        <span class="label label-warning">{{ nameTh1 }}</span>
                    </h4>
                    <h4>
                        <span><strong>ชื่อ: </strong></span>
                        <span class="label label-warning">{{ nameTh2 }}</span>
                    </h4>
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-4">
                            <div class="card" style="width: 18rem;">
                                <img src="\assets\image\s.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text"></p>
                                    <a href="register" class="btn btn-primary">Go To Register</a>
                                </div>
                            </div>
                            <div class="card" style="width: 18rem;">
                                <img src="\assets\image\s.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text"></p>
                                    <a href="userList" class="btn btn-primary">UserList</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>