<p></p>
<div class="container">
    <div style="text-align:center">
        <div class="bg-light">
            <img src="\assets\image\s.jpg" name="aboutme" class="widthimage">
            <!-- <h3 class="media-heading"> {{ nameEn }} <small></small></h3> -->

            <h2 class="text-dark">หอพัก</h2>
            <p></p>

            <div class="row">
                <div class="col-xl-4">
                    <div class="card" style="width: 20rem;">
                        <img src="\assets\image\s.jpg" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text">ส้ม สดใหม่</p>
                            <a href="#" class="btn btn-primary">สั่งซื้อ</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card" style="width: 20rem;">
                        <img src="\assets\image\s.jpg" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text">ส้ม สดใหม่</p>
                            <a href="#" class="btn btn-primary">สั่งซื้อ</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card" style="width: 20rem;">
                        <img src="\assets\image\s.jpg" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text">ส้ม สดใหม่</p>
                            <a href="#" class="btn btn-primary">สั่งซื้อ</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4"bottom-2>
                    <div class="card" style="width: 20em;">
                        <img src="\assets\image\s.jpg" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text">ส้ม สดใหม่</p>
                            <a href="#" class="btn btn-primary">สั่งซื้อ</a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4">
                    <div class="card" style="width: 20rem;">
                        <img src="\assets\image\s.jpg" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text">ส้ม สดใหม่</p>
                            <a href="#" class="btn btn-primary">สั่งซื้อ</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card" style="width: 20rem;">
                        <img src="\assets\image\s.jpg" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text">ส้ม สดใหม่</p>
                            <a href="#" class="btn btn-primary">สั่งซื้อ</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>