<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<div class="container">
	<p>
	<div class="card bg-light">
		<div style="text-align:center">
			<article class="card-body mx-auto" style="max-width: auto ;">
				<div class="row">
					<div class="col-sm-6">
						<div class="card">
							<div class="card-body">
								<img src="\assets\image\dorm.png" class="widthimage" alt="..."><p></p>
								<h5 class="card-title">Register Owner</h5>
								<a href="regisOwner" class="btn btn-primary">Register</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="card">
							<div class="card-body">
								<img src="\assets\image\user.png" class="widthimage" alt="..."><p></p>
								<h5 class="card-title">Register User</h5>
								<a href="regisUser" class="btn btn-primary">Register</a>
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>
	</div>